[2022-06-02 13:35] khaiknievel commented on #1149
@beingak
You might want to refer to this #895.

[2022-06-02 17:28] beingak commented on #1149
@khaiknievel
I try to this
axios.interceptors.request.use(function (config) {
    return utils.getSessionToken(window['app-bridge-app']) // requires a Shopify App Bridge instance
        .then((token) => {
            console.log('axios token');
            // Append your request headers with an authenticated token
            config.headers.Authorization = `Bearer ${token}`;
            return co

[2022-06-03 07:22] lucasmichot commented on #1150
This is not a bug
cf. https://github.com/osiset/laravel-shopify/pull/1100

[2022-06-03 07:22] #1150 closed

[2022-06-03 12:00] beingak commented on #1149
Hello,
I have HTML + Laravel (Shopify app).
I am doing get and post Ajax request. which has been request to web.php middleware route. it did return [ 302 ] status.
[ {error: "Session token is invalid."}]

Do can you let me know how can i get the valid session token and how could be use into Ajax request.Please add example.

[2022-06-03 12:24] khaiknievel commented on #1149
Might be help #1083

[2022-06-04 05:15] sushilsth commented on #432
'same_site' => 'none',
'secure' => env('SESSION_SECURE_COOKIE'),

[2022-06-05 04:40] RishabhTayal commented on #985
Any solution for this? I am also facing this issue. domain is coming as empty.

[2022-06-14 14:56] unlimix opened #1153 "Unrecognized Content-Security-Policy directive 'worker-src'"
Hi, all

A have some problem with Safari brouser.

![problem](https://user-images.githubusercontent.com/3293956/173608913-490e05fd-98dc-461c-aab8-3fe778b9bd7e.jpg)

Please help me to fix this issue.

[2022-06-15 13:02] nam-co opened #1154 "Change model instead of users?"
Hi @osiset I was wondering if it's possible to use another model instead of users? in a multiple staff scenario, where users belong to a company model, and the company is the one that needs access.

Also, (not important) for just 'read_products,read_product_listings' are all the migrations tables necessary ?

Appreciate any guidance, thanks for the work you put into the package

[2022-06-21 14:41] AcriCAA opened #1157 "Laravel 9"
Will there be forthcoming support for Laravel 9?

Composer is throwing this message:
osiset/laravel-shopify[v17.1.0, ..., 17.1.x-dev] require laravel/framework ^7.0 || ^8.0 -> found laravel/framework[v7.0.0, ..., 7.x-dev, v8.0.0, ..., 8.x-dev] but it conflicts with your root composer.json require (^9.2).

[2022-06-22 11:11] bretto36 commented on #669
Thanks @mitulgolakiya .

Also nice to spot a fellow Gold Coaster in here

[2022-06-23 06:55] RensBruil commented on #1157
Up for visibility :)

[2022-06-23 18:21] benson336 opened #1158 "403 error when doing Axios POST request to Backend Route"
*For bug reporting only! If you're posting a feature request or discussion, please ignore.*

## Expected Behavior

Try to pass data to the backend by doing simple POST request, and save data into the database.

## Current Behavior

When I did the POST request, I keep getting 403 error response.

## Failure Information

Keep getting 403 error response from the POST request.

### Steps to Reproduce

[2022-06-24 06:30] jalpab opened #1159 "Laravel 9"
Laravel 9 version does not support to osiset/laravel-shopify package for shopify so any suggestions for this? and please can you give any approx time when an updated version of this package is launching?

[2022-06-24 19:39] #1158 closed

[2022-06-25 01:27] CetoBasilius commented on #1154
Yes you can, you need to change your `shop_auth_provider` to `shops` and add your new shop provider to config/auth.php like so:
[code]

Make the Shop model, copy the user class and make it implement the same stuff and same ids, you'll need manual migrations, and change everything that references user to shop. Calling `Auth::user()` can return a shop or a user, depending on your context

[2022-06-26 13:15] aqsa3030 commented on #669
hello, I'm using my own API which is place on my local server, and when i use the link i got this error ->
cURL error 28: Operation timed out after 30012 milliseconds with 0 bytes received (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) for http://localhost:8000/api/posts1

**here is the code;**
<?php
namespace App\Http\Controllers;
use Illuminate\Http\Request;
use Illuminate\Support\Faca

[2022-06-27 05:32] zeeshanhaider6236dev commented on #1159
Laravel 9 its still in pending, i hope this will be review and osiset new release available with laravel 9

[2022-06-28 06:20] jalpab commented on #1159
@zeeshanhaider6236dev any other option to use shopify in laravel 9

[2022-06-28 12:03] jithinjoyj4 opened #1161 "Redirection issue, 404 after install using version 17.1, version 16.0.5 works fine"
*For bug reporting only! If you're posting a feature request or discussion, please ignore.*

## Expected Behavior

After install authenticate successfully & show welcome message in view, works fine in version 16 apps, getting 404 in version17

## Current Behavior

Followed all the installation procedures, package version 17.1 installed on fresh laravel 8, project is inside a subfolder in public_ht

[2022-07-05 11:58] Mahfuzarsds opened #1164 "Fullscreen App"
Does there any instruction on doc to make the app fullscreen as it described on https://shopify.dev/apps/tools/app-bridge/actions/fullscreen

[2022-07-06 14:14] manasirfan opened #1165 "Oauth error invalid_request: The redirect_uri is not whitelisted."
*For bug reporting only! If you're posting a feature request or discussion, please ignore.*

## Expected Behavior
in laravel 8 am using osiset/laravel-shopify package . when i hit shopify url its always return error, Oauth error invalid_request: The redirect_uri is not whitelisted

## Current Behavior

![image](https://user-images.githubusercontent.com/80257319/177568593-85d91189-de14-46ba-b8cc-f8

[2022-07-06 15:33] jammy-git commented on #1165
I believe your redirect URL should be https://260b-72-255-1-66.in.ngrok.io/authenticate

Make sure you've created this route in your web routes file as per the install instructions.

[2022-07-08 18:36] pengbo37877 opened #1166 "Usage Charge Bug"
* Package Version: v17.1.1
* Laravel Version: v8.54
* PHP Version: v7.4
* Using a toolset (Vapor):

### Failure Logs

[code]

[2022-07-09 12:23] sushilsth opened #1167 "Osiset compatible with CLI 3.0 for Post-checkout app extension"
### Discussed in https://github.com/osiset/laravel-shopify/discussions/1160

<div type='discussions-op-text'>

<sup>Originally posted by **sushilsth** June 28, 2022</sup>
Hi,

I have made the Shopify using this package and have already made LIVE in marketplace. Now, I want to implment theme app extension "Post Checkout UI". As per the requirement, I need to used Shopify CLI 3.0 [refernce link [ref

[2022-07-10 09:25] pengbo37877 opened #1168 "No authenticated user or shop domain"
* Package Version: v17.1.1
* Laravel Version: v8.56
* PHP Version: v7.4.28
* Using a toolset (Vapor):

### Failure Logs

[code]

[2022-07-11 07:10] garhbod commented on #921
Alternative solution so you don't have to do custom validation logic. Catch the `ValidationException` with laravel and respond with JSON then add an axios interceptor on the front end to receive it.

Add the below to the `register` method of `app/Exceptions/Handler.php`
[code]

Then on the javascript side of thing
[code]

[2022-07-13 04:45] assasin71 commented on #120
changing env doesnt work for me.. the app is not reprompting for the auth process

[2022-07-13 07:10] yousuf-mean3 commented on #1168
Having the same problem with Laravel version 8, unable to get Auth::user()
use Illuminate\Support\Facades\Auth;
$shop = Auth::user();

[2022-07-15 06:38] dev-talha-anwar opened #1169 "add subscription discount feature"
how can we add discount on recurring charge ?
shopify has given this capability
https://shopify.dev/apps/billing/purchase-adjustments/subscription-discounts#creating-discounts

[2022-07-16 09:03] sahil0571 commented on #1167
I think Shopify is trying to kill other third party packages for app development. They are forcing us to create the app using the cli 3.0 which is not using our favorite laravel-shopify package.
This is sad and truth but if we want to make our apps one step ahead and match the standards of Shopify we will have to move to cli I guess.

[2022-07-16 15:47] KingFisch commented on #1159
is there still no update from devs?

[2022-07-18 11:00] zeeshanhaider6236dev commented on #1159
Yes

On Sat, Jul 16, 2022 at 8:48 PM KingFisch ***@***.***> wrote:

[2022-07-19 11:03] abishekrsrikaanth commented on #406
Yes, I tried the following and this doesn't seem to work either.
[code]

I have tried the above code that @tzookb posted, can't seem to get that working. As a new feature on the app we needed to add in a few more scopes and we want the existing app customers to redirect to the re-authorize the permissions on Shopify.

[2022-07-19 11:12] abishekrsrikaanth commented on #1167
@sushilsth @sahil0571 You can still create a new project using the shopify CLI 3.0 and keep that just for extensions while continue using this project for actual app development. atleast that is what I am doing. The only problem is you end up have 2 sources..

[2022-07-19 14:08] rajaneeshdwivedi commented on #1166
Also experiencing this issue.

As an aside, the wiki contains the following snippet:
`$usageChargeRoute = route('billing.usage_charge', array_merge($charge, ['signature' => $signature]));`

but I think it should pass `$signature->toNative()` or else the signature (as an object) is not packed into the query parameters when building the route and causes an InvalidArgumentException (expecting a strin

[2022-07-19 19:13] ronnorthrip opened #1170 "Add Publishing Views Tag"
I'd suggest that we add the ability to publish the views so people can override them easier and so we can match other packages.

[code]

Should copy the files from src/resources/views into APP/resources/vendor/shopify-app.

I point this out not only to follow the dev ex from other packages but also because the dir name isn't the exact same as the vendor package.

Thoughts?

[2022-07-20 06:19] airarm opened #1171 "POST request not correct work in admin"
Hi everyone
I need your help with sending data from form by POST method in admin
Sometimes form submit work as reload without POST data

Routes

[code]

ProductController create

[code]

What is wrong with my code?

I tried to make a separate route for the post request, but it also does not work for how much shopify makes a request with GET host,shop,token data
Please help

[2022-07-20 22:28] nyrsimon commented on #929
Hi - sorry for the newbie question, but I love this framework and would like to use it on a NON-EMBEDDED app - I see there is some work here. Did this ever make it into a release?? Thanks

[2022-07-21 05:52] sahilcrawlapps commented on #1167
@abishekrsrikaanth It will be helpful if you can share a demo project or repository for using this package as an extension in the cli app.

[2022-07-23 04:24] dev-talha-anwar commented on #1170
it is already done you can use use php artisan vendor:publish command to check the list and publish the views using shopify-views tag

[2022-07-25 12:17] Ivanshamir commented on #1050
How did you fix it? Please tell me the details.

[2022-07-25 19:39] usmanpakistan opened #1174 "When a user declines a charge, the return URL has no chargeId, causing 500 error"
## Expected Behavior

When a user decline a charge, he is redirected to Shopify Settings page as charge decline is handled by Shopify since 2018. When a user closes the setting popup, it should be redirected to App home page

## Current Behavior

Problem is, on closing the popup, the user is redirected to the return URL, i.e. billing/process/{plan_id}/?shop=myshop.myshopify.com. The return URL, in

[2022-07-26 09:28] sahilcrawlapps commented on #1134
Hello, Have you faced any problems building shopify apps with this package and inertia both ? I am thinking to use inertia for my next project so asking.

[2022-07-26 09:41] inaryu commented on #1171
Hi @airarm
What version of laravel-shopify are you using?

[2022-07-26 09:44] airarm commented on #1171
@inaryu

[code]

[2022-07-26 10:00] inaryu commented on #1171
@airarm
If you are using the above version, a Session Token is required when making a request.
https://github.com/osiset/laravel-shopify/wiki/Authentication-Process#non-spa

[2022-07-26 10:06] BhuvneshSoniApporio opened #1175 "Call Shopify Wehbook without laravel job and queue"
Hii Developers,

In my application i don't want to run queue to listen continuously. So please help me how can i configure custom webhook that will run from shopify after an event like after create the order etc.

[2022-07-26 11:32] BhuvneshSoniApporio commented on #1175
@osiset Could you please help on this.

[2022-07-26 14:20] usmanpakistan commented on #1174
@osiset @Kyon147 Can you people look into this. Thanks

[2022-07-27 04:40] inaryu commented on #1168
Hi @pengbo37877 @KingFisch @yousuf-mean3

When does this error occur?

[2022-07-27 05:29] manpreet396 commented on #16
Hi Tyler,
(https://github.com/osiset/laravel-shopify/issues/16#issuecomment-372130638)
This is not working in latest version, Can you please help me to solve this.

[2022-07-27 08:38] #1165 closed

[2022-07-27 08:38] manasirfan commented on #1165
thanks for helping

[2022-07-27 08:47] manasirfan opened #1176 "App must set security headers to protect against clickjacking"
*For bug reporting only! If you're posting a feature request or discussion, please ignore.*

## Expected Behavior

when am review our app from shopify that show this issue before submitting

There was an error installing your app. The app must be installed to perform the security check. We expected OAuth to be initiated at https://app-security.myshopify.com/admin/oauth/authorize but were redirecte

[2022-07-27 10:31] inaryu commented on #1144
@codeoutin

Are you talking about the content of the problem on the Shopify side that prevents setup? Or are you talking about the content of the problem on the laravel-shopify side?

[2022-07-27 15:56] ronnorthrip commented on #1170
views would be better than shopify-views - but at least put that in the docs please

[2022-07-28 12:58] manasirfan commented on #1176
Anyone can help me for solving this issue?.
Thanks in advance.

[2022-07-28 15:49] enmaboya commented on #1176
it has nothing to do with the package, you can do it at the application level

[2022-07-28 18:46] enmaboya commented on #1176
You can take an implementation from here
https://github.com/osiset/laravel-shopify/pull/1178

but it has nothing to do with the package and can be exposed by the application.

[2022-07-29 06:25] jordiruizp commented on #1065
Hi @Kyon147

I am facing the same issue. App installation works perfectly in Shopify, but if I check the failed_jobs table I get the same error as @daniel-nakoneczka

I dumped the $query and $payload variables into the doRequestGraphQL function. The following query appears in the $query variable:

[code]
But the $payload variable is empty and consequently Shopify returns an error and the job queue

[2022-07-29 10:13] dutsik commented on #1157
up

[2022-07-29 14:08] npabisz opened #1179 "Token verification creates redirect loop"
I just discovered that one on my apps has issue with token verification which makes redirect loop for x seconds for the first time app is opened. I'm talking about `src/Objects/Values/SessionToken.php#269` which was triggering assertion. What I found out was that my server had not synchronized time. Steps to fix:

[code]

However maybe there should be some warning/error saying that there is issue

[2022-08-02 05:51] manasirfan commented on #1176
Hi, thanks for reply.
Am follow your steps but we changing in the vendor file, therefore changing not add on live please guide me more,
Thanks in advance !

[2022-08-02 12:38] tanseercena commented on #1167
@sahilcrawlapps I also created Shopify app extension in different directory.  Let me share what I did so it can help you and other developers.

1. Create a new directory for app extension (It can be within your app directory or outside the app directory)

2.  Add **shopify.app.toml** file in the newly created directory and add the following in toml file:
[code]

3. Create package.json file at root

[2022-08-02 12:43] tanseercena commented on #980
@Kyon147 @brucelee90 I think we can easily create app extension without modifying this package. I already did it while using this package. You can check my comment here: Check this: https://github.com/osiset/laravel-shopify/issues/1167#issuecomment-1202443351

I hope this will help :)

[2022-08-02 12:44] tanseercena commented on #1004
@yasir-naseer  I think this will help you: https://github.com/osiset/laravel-shopify/issues/1167#issuecomment-1202443351

[2022-08-02 12:44] tanseercena commented on #1013
@damquanghieu You can check this: https://github.com/osiset/laravel-shopify/issues/1167#issuecomment-1202443351

[2022-08-02 12:45] tanseercena commented on #1084
@haseebtanveerbutt you can check this: https://github.com/osiset/laravel-shopify/issues/1167#issuecomment-1202443351

[2022-08-02 14:24] Kyon147 commented on #980
Hi @tanseercena

You are right, I've also recently created an app extension using the shopify CLI. For the embed, it would not require an update to the package.

As the App Embed block, is compatible with vintage and theme 2.0 it would replace most needs for using the script tags from what I can tell.

[2022-08-02 20:14] talktohenryj commented on #1110
So is the answer to just lower our version to 8.0? Has their been a fix for 8.1 with this bug? I am running into this issue now as well.

[2022-08-03 07:42] manasirfan commented on #1176
@enmaboya sir kindly help me !

[2022-08-03 12:06] Kyon147 commented on #1110
Yeah I believe on PHP8.1 optional parameters must be at the end of the method, which is why this gets flagged as an issue.

[2022-08-03 12:23] talktohenryj commented on #1110
Makes sense. So doesn't that mean we should update the Osiset package?

[2022-08-03 14:34] Kyon147 commented on #1110
Hey @talktohenryj

Yeah A PR with the fix needs to be done. I think i have seen another PR for another fix also tackable, of the top of my head it might be the laravel 9 PR.

[2022-08-04 18:36] tariqbilal opened #1182 "The fulfillment order's assigned fulfillment service must be of api type"
I am trying to use fulfilmentRequest Resource but I am getting the error

`The fulfillment order's assigned fulfillment service must be of api type`

### Steps to Reproduce
[code]
### Context

Please provide any relevant information about your setup. This is important in case the issue is not reproducible except for under certain conditions.

* Laravel Version: v8
* PHP Version: v8

{"errors":true

[2022-08-05 09:31] Sajidali123 opened #1183 "App block using scripttag in vintage theme"
Hello, Can anybody help me.

i am get stuck on integrating **scripttag** in shopify app for vintage theme basically the aim is that my app use theme-app-extension functionality for 2.0 theme and for vintage themes my app will use **scripttag** for app block.
so i am done with theme-app-extension but stuck on **scripttag** below is the error i am getting after adding **scripttag** code in shopify-a

[2022-08-05 09:35] tanseercena commented on #1176
@manasirfan You can check this: https://github.com/osiset/laravel-shopify/issues/1070#issuecomment-1039959161

I created the same and it fixed the issue.

I hope that this will help you :)

[2022-08-05 14:25] manasirfan commented on #1176
hi @tanseercena am using the same middleware but again rejected, middleware used globally ,kindly solving this issue

 protected const HEADER_FORMAT = 'frame-ancestors %s %s';
     protected const ADMIN_SHOPIFY_URL = 'https://admin.shopify.com';
    public function handle(Request $request, Closure $next)
    {
        $response = $next($request);
        if ($response instanceof Response && !$requ

[2022-08-05 14:58] tanseercena commented on #1176
@manasirfan Did you add it in web middlewares in Kernal.php?

[2022-08-05 15:16] manasirfan commented on #1176
@tanseercena oops am added another middleware not group,please check now its fine ?
 protected $middlewareGroups = [
        'web' => [
            \App\Http\Middleware\EncryptCookies::class,
            \Illuminate\Cookie\Middleware\AddQueuedCookiesToResponse::class,
            \Illuminate\Session\Middleware\StartSession::class,
            // \Illuminate\Session\Middleware\AuthenticateSession::

[2022-08-05 17:39] d-shannon commented on #1168
Hi @pengbo37877 ,

Having the exact same issue there. I'm actually running Vapor also (not sure if it's related).

The unfortunate timing of this error, it seems to occur after customer approves charge for installation. I myself can't seem to replicate it. Have you got any further with it?

Thanks

[2022-08-07 14:49] talkwithdeveloper opened #1184 "I am having hmac code in URL after authenticate"
*For bug reporting only! If you're posting a feature request or discussion, please ignore.*

## Expected Behavior

i am expecting it shouldn't show hmac code inside URL.
 (
[https://shopifycurrencyapp.cordcomtechnologies.com/?hmac=84dc3ac9950610a1ac5842554dd152e832de94a59f9c25bb84e3ee6d2eaf&host=FwcHN0b3JlZm9yYXBwLm15c2hvcGlmeS5jb20vYWRtaW4&shop=p.myshopify.com&timestamp=1659168387]

Expecting URL

[2022-08-08 11:22] manpreet396 commented on #452
When installing app redirect me to my domain instead display app into Shopify admin ..
Can you please help me to solve this issue??

[2022-08-08 11:45] awebartisan commented on #452
@manpreet396 you're creating an external app? which should not be embedded into shopify admin?

[2022-08-08 12:03] manpreet396 commented on #452
@awebartisan I am creating embedded app, first time when I install then only it goes to outside https://(your-domain).com/login after that it opened in shopify admin UI.

[2022-08-09 07:22] hktudock commented on #1133
I am also affected by this error.
I used the shopify-cli tool 3.5.0 to install a php template which than installs laravel.

PHP and Node both run in the same Docker container.

Laravel Framework: 8.83.23
PHP: 8.1
Package: 17.1.1

Do you have any advice on how to resolve this?

[2022-08-09 07:33] Kyon147 commented on #1133
@hktudock @vijaypareek13

What is the cli command you are trying to run?

[2022-08-09 07:35] Kyon147 commented on #1179
hi @npabisz

Good catch, are you up for creating a PR with a potential solution?

[2022-08-09 07:46] hktudock commented on #1133
composer require osiset/laravel-shopify

[2022-08-10 12:19] yousuf-mean3 commented on #1168
This occurs in controller

[2022-08-11 10:06] ItsGageH commented on #1167
@tanseercena This is super useful! It would be great if you could add this to the Wiki for other devs to see 😄

[2022-08-11 11:27] tanseercena commented on #1167
@ItsGageH Wiki added :book:

https://github.com/osiset/laravel-shopify/wiki/How-to-create-App-Extension

[2022-08-11 11:35] nashsaint commented on #1168
Am getting this issue now. anyone able to find a solution ?

[2022-08-11 12:37] manpreet396 commented on #452
Can anyone please help me to solve this issue??

[2022-08-11 13:15] awebartisan commented on #452
Hey @manpreet396 , not sure if I understand correctly.

Here's what's expected behaviour with an Embedded app:
- User goes to Shopify store, provide their domain
- They're redirected to the "installation screen" where they approve the installation
- After that your app is installed
- Next time they go to your app from Shopify Admin, they will just be redirected to your dashboard because the packag

[2022-08-12 10:41] #1171 closed

[2022-08-14 09:45] apurbajnu opened #1188 ""No authenticated user or shop domain" Ignore this for API routes"
*For bug reporting only! If you're posting a feature request or discussion, please ignore.*

## Expected Behavior

For custom API routes, I don't need verify.shopify middlewear

## Current Behavior

During validation it give me this error "No authenticated user or shop domain"

## Failure Information

Please help provide information about the failure if this is a bug.

### Steps to Reproduce
Creat

[2022-08-14 09:46] apurbajnu commented on #1188
@Kyon147 @osiset   May you help me please to solve this issue,if possible.

[2022-08-14 10:05] Kyon147 commented on #1188
If you don't need the middleware on those routes you just need to omit the middleware on that route.

[2022-08-14 10:58] apurbajnu commented on #1188
@Kyon147 Thanks for replying. I have used different routes and different controllers. But still, the error is there if I try to validate all requests for that individual route. Only if I remove verify.shopify middleware from home routes, then the error is gone. I have tried, but how is this middleware connected with that route where one is in the web route, and the other is in the API route? Is it

[2022-08-14 14:45] apurbajnu commented on #1188
My bad. I was calling the 'HTTP/request' class. After that I have used request()->all(). Now everything is working fine. Thanks, @Kyon147.

[2022-08-14 14:45] #1188 closed

[2022-08-18 09:36] DeveloperHashmi commented on #1110
Hi @Kyon147
I'm also getting the same error. Could you fixed it or tell me the way to resolve, Please.

TypeError
Osiset\ShopifyApp\Http\Controllers\BillingController::index(): Argument #1 ($plan) must be of type ?int, Illuminate\Http\Request given, called in /var/www/shopify/vendor/laravel/framework/src/Illuminate/Routing/Controller.php on line 54
![git_report](https://user-images.githubuserconte

[2022-08-18 10:34] Kyon147 commented on #1110
Hi @DeveloperHashmi

Easiest solution for now, drop to php version 8.0 not 8.1

[2022-08-18 15:01] DeveloperHashmi commented on #1110
Hi @Kyon147
I drop my php version to 8.0.17 and now I'm getting this error. (SS Attached)

Osiset\ShopifyApp\Exceptions\ApiException
Unknown error
Stack Trace : Osiset\ShopifyApp\Services\ApiHelper::doRequest
vendor/osiset/laravel-shopify/src/Services/ApiHelper.php:493

# Should we create a plan using shopify Recurring Application Charge API or this API can create plan automatically.
If I've to cr

[2022-08-18 15:15] Kyon147 commented on #1110
Do you have your plans set up in the plans table with one of them set to have the `on_install` to 1?

It look like it is not passing a plan_id to the route to select the right pricing.

[2022-08-18 15:41] DeveloperHashmi commented on #1110
Dear @Kyon147
I have already setup my plan in plans table. (SS Attched)
![image](https://user-images.githubusercontent.com/51310612/185435952-f526d91c-d094-4c52-a62e-f7e2837be855.png)
I passed plan_id to the route as mentioned in my above reply (SS Attached), If that's not correct, Could you please tell me the way to pass plan_id.
![image](https://user-images.githubusercontent.com/51310612/1854364

[2022-08-18 15:47] Kyon147 commented on #1110
Hi @DeveloperHashmi

As you have set id `1` to be `on_install` you don't need to pass it as you have done in the middleware as that will be defaulted too automatically.

The package will create the charge automatically when you send them to a certain plan. If you have not, i recommend reading the [Creating a billable app wiki page](https://github.com/osiset/laravel-shopify/wiki/Creating-a-Billable

[2022-08-18 21:25] inazeem commented on #926
I am having the similar issue what did you do to solve it? Please help

[2022-08-18 21:35] fjarrett commented on #1159
Duplicate of #1157

[2022-08-18 21:38] fjarrett commented on #1157
Security fixes for Laravel 8 will stop in about 5 months from now.

<img width="897" alt="Screen Shot 2022-08-18 at 4 34 24 PM" src="https://user-images.githubusercontent.com/522158/185499355-ff19496a-23f5-4b98-82c7-2923ffaa1f67.png">

[2022-08-18 22:26] fjarrett commented on #1157
There is a PR for this in #1100.

If you need an immediate workaround until that PR is merged...

Update `composer.json` with:

[code]

Then:

[code]

[2022-08-18 23:03] KingFisch commented on #1168
As soon you open the project in browser. In shopify its mostly working. Any ideas?

[2022-08-19 06:57] mhmdbdwy commented on #1161
same here

[2022-08-20 06:03] zainakramimage commented on #926
I am also getting the same error.
[
![Screenshot 2022-08-20 110210](https://user-images.githubusercontent.com/87980343/185731409-f4cbe8e6-14d5-4991-9d3e-f887e24b5391.png)
](url)

please help me I have no idea how to fix this.

[2022-08-20 09:41] zainakramimage commented on #926
After wasting 4 to 5 hours it was APP_URL issue in .env file if you are using the ngrok then your APP_URL = 'ngrok_url' then it will work.

[2022-08-20 17:17] DeveloperHashmi commented on #1110
Hi @Kyon147,
I implemented every thing as you said, and got billing page. But, whenever I clicked on cancel button (i.e. available on payment page - SS Attached)
![image](https://user-images.githubusercontent.com/51310612/185758538-59c867b8-bfe8-4977-8997-d33442104133.png)
I got an another pop-up page (SS Attached) and when I clicked on close button. I got Not Found error page (SS Attached)
![imag

[2022-08-20 17:56] Kyon147 commented on #1110
Hi @DeveloperHashmi

I can confirm I get the same error, that new apps popup page is new since they moved apps to the "search" dropdown so I think the internal redirects after a cancelled charge have changed.

@osiset - just flagging and will try and get a PR out for it next week when I have time.

[2022-08-22 11:30] talktohenryj opened #1189 "Where to define usage charge?"
I am looking to create usage charges based on order amounts.

I have read the Usage Charge information in the wiki but I am still a bit confused.

How do I set a variable for the usage charge amount?

Below is the code I use to define the variable in one of my countrollers but where would I put it so Shopify charges the merchants this on every order?

[code]

* Package Version: v17.1
* PHP Version

[2022-08-23 04:45] yogeshausp opened #1190 "Middleware Issue"
Middleware( middleware(['verify.shopify'])) did not work when we get data from table.

![Screenshot_1](https://user-images.githubusercontent.com/99256150/186071799-8e2e2fc7-b6ca-491c-babf-51ff956dcac8.png)
![Screenshot_2](https://user-images.githubusercontent.com/99256150/186071804-02967772-886b-4676-8cae-bf1f24a320b6.png)
![Screenshot_3](https://user-images.githubusercontent.com/99256150/18607180

[2022-08-23 16:18] Abdelrahman-Medhat commented on #661
Find any solution ?

[2022-08-26 06:32] yogeshausp opened #1193 "App Authentication issue"
I have redirect my domain to public by using .htaccess file in root folder

<IfModule mod_rewrite.c>
# That was ONLY to protect you from 500 errors
# if your server did not have mod_rewrite enabled

RewriteEngine On
# RewriteBase /
# NOT needed unless you're using mod_alias to redirect

RewriteCond %{REQUEST_URI} !/public
RewriteRule ^(.*)$ public/$1 [L]
# Direct all requests to /public folder

</

[2022-08-26 08:19] Kyon147 commented on #1190
@yogeshausp - Looking at your samples, it does not look like a package issue like @enmaboya mentions.

`verify.shopify` is to verify a shop within the app itself and it loads the user into the session to you can use things like `Auth` to grab the current user.

You API request is failing because you are trying to authenticate that request with the shopify middleware. Also, out of good practice you

[2022-08-26 08:19] #1190 closed

[2022-08-26 08:20] Kyon147 commented on #1193
@yogeshausp so you have this issue still as #1190 shows your app working.

[2022-08-26 08:24] Kyon147 commented on #1189
Hi @talktohenryj

This is not a app package issue, so I'm going to close this but please move this question over to the discussion tab.

If you wanted that code to run on every order, you'd need to hook into the order webhook, or create your own job that gets the orders every X mins/hours/days etc.  There's a lot of ways to achieve it.

[2022-08-26 08:24] #1189 closed

[2022-08-26 08:27] Kyon147 commented on #1184
@talkwithdeveloper I'm unable to replicate this.

Does your app authenticate properly and land on the app homepage?

[2022-08-26 08:29] Kyon147 commented on #1183
@Sajidali123 - the error is telling you the issue but without more context around your code it will be hard to provide any meaningful help.

[2022-08-26 08:35] Kyon147 commented on #1182
Hi @tariqbilal

That looks like an error from the Shopify api itself with your request not meeting their requirements.

A quick google search brings up this - the same error and possible solution.
https://community.shopify.com/c/shopify-apis-and-sdks/fulfillment-api-returning-404/td-p/779115

As this is not an issue with the package I am closing this ticket.

[2022-08-26 08:35] #1182 closed

[2022-08-26 08:37] Kyon147 commented on #1176
We wll try and get https://github.com/osiset/laravel-shopify/pull/1178 into the next release which should help.

[2022-08-26 08:37] #1176 closed

[2022-08-26 08:38] Kyon147 commented on #1175
@BhuvneshSoniApporio please move over to discussion if you want to request help or start a conversation.

Please keep issues relating to package bugs etc not for seeking help. This helps us to narrow down actual issues more quickly.

[2022-08-26 08:38] #1175 closed

[2022-08-26 08:41] Kyon147 commented on #1170
You can override views already in packages, as you just need to put the vendor folder inside the views folder and then the file you wish to override.

It would look something like this

[code]

[2022-08-26 08:41] #1170 closed

[2022-08-26 08:47] Kyon147 commented on #1167
The wiki does a job explaining how to set up an epp extension.

[2022-08-26 08:47] #1167 closed

[2022-08-26 08:48] Kyon147 commented on #1164
It is currently not supported but an open PR is partly there if you wish to use it as a base but it is unsupported.  https://github.com/osiset/laravel-shopify/pull/935

[2022-08-26 08:48] #1164 closed

[2022-08-26 08:51] Kyon147 commented on #1168
@KingFisch fullscreen app is not currently supported with this package. It has to be in the shopify admin or you will get this error.

[2022-08-26 08:52] #1159 closed

[2022-08-26 08:52] Kyon147 commented on #1157
Duplicate, so closing.

[2022-08-26 08:52] #1157 closed

[2022-08-26 08:53] Kyon147 commented on #1149
This sounds like an issue with your code setup, not the app so closing as a couple solutions have been provided.

[2022-08-26 08:53] #1149 closed

[2022-08-26 08:53] Kyon147 commented on #1154
Decent solution provided so closing ticket.

[2022-08-26 08:53] #1154 closed

[2022-08-26 08:55] Kyon147 commented on #1146
Your eloquent query looks like it is missing the operator.

Try `User::where('name', '=', $record->shopname)->first();`

[2022-08-26 08:55] #1146 closed

[2022-08-26 08:57] Kyon147 commented on #1148
Have you set up your database and are you using mysql?

Deleting the table and trying to rerun will cause the error, as there will be a foreign key on users already from the migration and will try to add it again.

I would rollback and start again, rather than delete directly as you will break the migration intended purpose.

[2022-08-26 08:58] Kyon147 commented on #1140
This is no a package related issue, so please move it over to the discussion tab.

Thanks.

[2022-08-26 08:58] #1140 closed

[2022-08-26 09:00] Kyon147 commented on #1143
This is an issue with your code and shopify's requirements. Please move this to the discussions tab if you want some help.

[2022-08-26 09:00] #1143 closed

[2022-08-26 09:05] Kyon147 commented on #1141
Hi @grahamsutton

I tend to log the user in manually in my tests like so:

[code]

This allows you to use `Auth:user()` if you want to simulate a user.

For the middleware, there's so quick solution other than mocking the JWT auth process but you can skip the middleware when testing anyway, as you are in a control environment.

So you could just use the `$this->withoutMiddleware()` and bypass the

[2022-08-26 09:07] BhuvneshSoniApporio commented on #1175
Hi @Kyon147  There is an issue with package that i facing. I have removed all the webhooks from list those are install while installing app.
Now i am getting exception message and that is

Class '\App\Jobs\ShopRedactJob' not found

I am getting this exception continuously. Could you please help me to identify this issue. Also let me know the reason of occurring this.

[2022-08-26 09:08] Kyon147 commented on #1141
I see your other issue you come to a middle ground solution, I'll close this ticket for now.

[2022-08-26 09:08] #1141 closed

[2022-08-26 09:10] Kyon147 commented on #1136
I don't know the requirements for a payment app but a quick look on https://shopify.dev/apps/payments#how-payments-apps-work there's a lot of stuff around PCI so you'd need to make your own decision on if you could use this package to fulfil their requirements.

[2022-08-26 09:10] #1136 closed

[2022-08-26 09:12] Kyon147 commented on #1133
It's hard to diagnose without some more information at the moment.

What php template did the cli use? Did you follow these install steps? https://github.com/osiset/laravel-shopify/wiki/Installation

[2022-08-26 09:14] Kyon147 commented on #1129
That sounds like you have no exposed your app correctly in the settings for the app url and the redirect whitelist url.

Try following the wiki steps https://github.com/osiset/laravel-shopify/wiki/Installation but it does not sound like a package isue.

[2022-08-26 09:14] #1129 closed

[2022-08-26 09:16] Kyon147 commented on #1144
Do you have a shopify partners account? It sounds like you need to set up your app in the partners account and it is also worth mentioning a login page was removed as Shopify don't like them being used as you need to login via their admin if you are an embedded app which this package is.

Sounds like a setup issue, rather than a package one so closing this ticket but open a discussion in the Discu

[2022-08-26 09:16] #1144 closed

[2022-08-26 09:18] Kyon147 commented on #1110
There is a PR out for this https://github.com/osiset/laravel-shopify/pull/1145 which we will try and ger merged.

[2022-08-26 09:26] #1073 closed

[2022-08-26 09:28] Kyon147 commented on #1175
You need to create this job, as Shopify will fire this webhook usually 3 days after the uninstall.

[2022-08-26 09:36] yogeshausp commented on #1193
Yes. I have still this issue when I install the app on dev store.

[2022-08-26 09:38] Kyon147 commented on #1193
Can you provide more information on how to replicate?  Does it happen all the time or only sometimes?

[2022-08-26 09:43] yogeshausp commented on #1193
Actually I have develop the custom app on this partner account first time. The server used is linux server.  But when I have installed the app on development store it gives the error.

[2022-08-26 09:57] Kyon147 commented on #1193
It sounds like an issue somewhere on the server side potentially. Does the app work locally?

[2022-08-26 10:10] yogeshausp commented on #1193
Yes

[2022-08-26 10:17] Kyon147 commented on #1193
If it works locally, you have an issue somewhere on your server setup - we can't really help with the devops side as there's a lot of variation from server to server.

[2022-08-26 10:57] #1193 closed

[2022-08-27 11:25] ncpope opened #1195 "Should we release the latest updates to master as v18?"
Thanks to everyone for the latest updates to the master branch:

- #1100
- #1145
- #1194
- #1191

These latest changes look great and are much appreciated, thanks to everyone involved!

It looks like the changes have been pushed to the master branch successfully 🎉

Just curious now about the next steps, are more changes required before a release or are we good to go from here?

[2022-08-29 10:03] #1195 closed

[2022-08-29 10:46] devpammy opened #1196 "When can we expect new release?"
Hello @osiset and @all admins
When we can expect new release with laravel 9 support.

Thanks

[2022-08-29 12:23] talkwithdeveloper commented on #1184
yes

[2022-08-29 13:16] Kyon147 commented on #1196
The release for laravel 9 is in progress.

We are working to make sure the next release also has some needed updates on top of laravel 9 support.

Thanks for your patience.

[2022-08-29 13:16] #1196 closed

[2022-08-29 13:24] Kyon147 commented on #1184
It looks to me as a left over from the previous route - as you need to use AppBridge to update the route, you can just make sure to rewruite the history yourself that way.

[2022-08-30 14:42] talkwithdeveloper commented on #1184
is it possible can we make a zoom call ?

[2022-08-30 14:55] Kyon147 commented on #1184
Hi @talkwithdeveloper,

Sadly I don't have time but you just need to update the route when you land on the homepage to overwrite the last history.

I tend to just put a watcher in the root app of Vue to update it anytime my root changes. This means you don't need to manually sire it every view change.

[code]

You could try something like that but I have seen other apps where this happens, so it's

[2022-09-01 15:22] hktudock commented on #1133
I didn't realize that the user model configuration is commented out if you use shopify-cli >v3 to bootstrap a shopify app.
Commented in and error is gone.

[2022-09-02 02:07] nam-co commented on #1154
@CetoBasilius Sorry about this, I didn't see the answer before, appreciate the help Im going to give it a try, thank you

[2022-09-02 11:23] tsujihidetaka commented on #1161
same with Nginx.
so I have changed to Apache then it is solved.
I guess you need to do

https://github.com/osiset/laravel-shopify/wiki/Installation#appbridge

[2022-09-03 19:14] nam-co commented on #1154
@CetoBasilius @osiset sorry about this, but is there any way to include an extra field to be saved on the DB, for example biz_id, user_id or whatever_id?

[2022-09-03 19:59] Kyon147 commented on #1154
@nam-co just add it to your migrations when you create the shop table, you can just add whatever id you want when you create the table. Then in your user class, just create a relationship to the Shop table so you can access it via eloquent if you like.

[2022-09-05 09:47] APdevelopments commented on #761
I think that problem could be solved if add value 1 to freemium column in table 'users' ?

[2022-09-05 10:01] akshay-praella commented on #1196
@osiset

First of all, I appreciate this package and all the effort on this. We are using this package since more than 4 years. May be since OhMyBrew version 4 or 5.

We are also want to integrate this in our new project. But the only issue is Laravel 9 support. We have launch date at 12th Sept. So, can we get the Laravel 9 supported version release ASAP?

Thanks

[2022-09-05 10:17] Kyon147 commented on #1196
Hi @akshay-praella

Laravel 9 is merged into master at the moment but there is not an official release yet. I'll be working on getting a release out hopefully this week but no promises on the date.

[2022-09-05 10:32] Avdkash commented on #1110
Hello @Kyon147 @osiset,

This has been an issue **(Billable app throwing an exception on install)** for a while now. We urgently need your assistance, Please let me know how we may help you move the process along faster. Could you please help me with the timeline to get this done? That will be really helpful!

Thank you!

[2022-09-05 10:33] Kyon147 commented on #1110
Hi @Avdkash

This has been merged now into master and will be in the next release which I am working on this week hopefully.

[2022-09-05 12:59] Avdkash commented on #1110
Hello @Kyon147 Thank you! I will be waiting for the update.

[2022-09-06 04:45] gelomindarc opened #1199 "Is there any version of this package compatible to Laravel 5.7. Thanks!"
Need to use the compatible version of this package to Laravel 5.7

[2022-09-07 07:20] Kyon147 commented on #1199
The package is only for laravel 7 and up. I'd suggest upgrading your laravel package as there's been a lot of improving on laval core over the years.

[2022-09-07 07:20] #1199 closed

[2022-09-07 07:21] Kyon147 commented on #1148
Closing as the ticket is stale. Re-open if issue persists.

[2022-09-07 07:21] #1148 closed

[2022-09-07 07:21] Kyon147 commented on #1174
Closing this now it has been merged, thanks for the PR!

[2022-09-07 07:21] #1174 closed

[2022-09-07 07:23] Kyon147 commented on #1004
Closing this as decent solution provided.

[2022-09-07 07:23] #1004 closed

[2022-09-07 08:49] beingak opened #1202 "App Installed issue (Return value of Osiset\BasicShopifyAPI\ResponseAccess::offsetGet() )"
Hello @osiset Team,

I have issue occur when i installed Shopify app. its The error occur is.
Can you please let me know the issue ASAP.

TypeError
Return value of Osiset\BasicShopifyAPI\ResponseAccess::offsetGet() must be an instance of Osiset\BasicShopifyAPI\mixed, string returned

[2022-09-07 10:12] CodeByVijay opened #1203 "App install issue Return value of Osiset\BasicShopifyAPI\ResponseAccess::offsetGet() must be an instance of Osiset\BasicShopifyAPI\mixed, string returned"
![Screenshot from 2022-09-07 16-23-15](https://user-images.githubusercontent.com/94886827/188861501-fa382973-2aa4-444c-bb9e-998b6c064f1a.png)
Hey! Developers

Please find this issue shopify app installation time.

Issue :
Return value of Osiset\BasicShopifyAPI\ResponseAccess::offsetGet() must be an instance of Osiset\BasicShopifyAPI\mixed, string returned

[2022-09-07 10:53] CodeByVijay commented on #1203
![Screenshot from 2022-09-07 16-23-15](https://user-images.githubusercontent.com/94886827/188861264-ac9cfe87-d4cf-4cc9-821c-1a21f40e8ec3.png)

[2022-09-07 15:11] Kyon147 commented on #1203
Please update to v17.2.0 as this should be fixed in the latest release.

[2022-09-07 15:11] #1203 closed

[2022-09-07 15:12] Kyon147 commented on #1202
Please update to v17.2.0.

[2022-09-07 15:12] #1202 closed

[2022-09-08 21:03] APdevelopments opened #1205 "Cancel app subscription pre17 URGENT"
I'm using this code to downgrade user to free plan from paid plans:

[code]

everything works fine but in SHopify admin page there is no added/ I dont see event 'Subscription charge canceled' for store.

WHy? Please suggest this is urgent.

[2022-09-09 08:09] Kyon147 commented on #1205
App charges from memory are handled by Shopify itself, they cancel them automatically if a plan changes or a store gets uninstalled.

I can't remember for sure without diving into the app code properly, but a really quick look the `CancelCurrentPlan` does not actually send any cancellation request via API or similar, it just logs the charges in the DB to keep a record if one is active or not.

The

[2022-09-09 08:12] #1205 closed

[2022-09-09 10:39] APdevelopments commented on #1205
Ok, just Shopify review team doesnt accept that solution. Also capped amount cant be 0.00

[2022-09-09 10:44] simoni2cool opened #1206 "Shopify non embedded app are unpublished because of shopify"
Hii, my laravel app in shopify non embedded app are unpublished because of shopify tell us that "Use OAuth to ask for scope permissions immediately after merchants add your app.

Check and troubleshoot your app's OAuth by reinstalling your app on your test store using this method. After you've installed your app on a development store, make sure you can uninstall and reinstall that app on the same

[2022-09-09 10:56] abubakar0101 commented on #909
I will do this same in my controller but it give error as shown in below

"Unresolvable dependency resolving [Parameter #0 [ <required> $shopDomain ]] in class App\Http\Controllers\SetupController"

[2022-09-09 10:57] abubakar0101 commented on #909
kindly help me how can I use auth()->user() in my controller

[2022-09-09 14:03] Kyon147 commented on #1205
Hmm unless they have changed their mind, this is what I have done with two apps that are live on the store. I set capped amount to my highest possible plan.

[2022-09-09 14:05] Kyon147 commented on #1206
This package does not currently support non-embedded apps. So you would need to either be embedded with this package or create your own logic to handle it.  There's an open PR but it is on hold for the most part at the moment #929

[2022-09-09 14:05] #1206 closed

[2022-09-09 14:10] Kyon147 opened #1208 "(Pinned) Non-embed App Support"
Hi all,

There's a lot of issues that get created overtime asking about "non-embed app" support or issues that say it is not working etc.

Currently the package **does not support** non-embedded and there is an older PR #929 which is the current progress of that feature for this package.

If you are using this package at the moment, you can only use it as an embedded app.

Please submit any questi

[2022-09-09 14:10] Kyon147 commented on #1208
#16
#354
#861
#1112

[2022-09-09 14:13] APdevelopments commented on #1205
I set capped_amount to 0.01 but they dont accept that solution...

pet, 9. sep 2022. 16:03 Luke Walsh ***@***.***> је написао/ла:

[2022-09-09 14:17] Kyon147 commented on #1184
I've taken a look at this and can confirm it is because of needing to use appbridge to update the history sometimes.

[2022-09-09 14:17] #1184 closed

[2022-09-11 06:53] Kyon147 commented on #1183
Closing as a stale issue, reopen if you still have the problem

[2022-09-11 06:53] #1183 closed

[2022-09-11 06:55] Kyon147 commented on #1161
Closing as a solution has been provided.

[2022-09-11 06:55] #1161 closed

[2022-09-11 06:56] Kyon147 commented on #1153
Hi @unlimix

Please provide more information, as the ticket is quite old I will close this for now but reopen if you still have the problem and can provide more detail.

[2022-09-11 06:56] #1153 closed

[2022-09-11 06:57] Kyon147 commented on #1119
Closing out this ticket as it seems to be resolved but please re-open if the issue persists.

[2022-09-11 06:57] #1119 closed

[2022-09-11 06:58] Kyon147 commented on #685
POS does work with the app (I've been using it on a recent project) so closing this now.

[2022-09-11 06:58] #685 closed

[2022-09-11 07:00] Kyon147 commented on #689
AuthShopfy is the older package's authentication, I'd advise upgrading to the latest version.

[2022-09-11 07:00] #689 closed

[2022-09-11 07:01] Kyon147 commented on #759
Closing as stale issue.

[2022-09-11 07:01] #759 closed

[2022-09-11 07:01] Kyon147 commented on #929
Closing in favour of #1208

[2022-09-11 07:01] #929 closed

[2022-09-11 07:02] Kyon147 commented on #922
Closing as a stale issue but usually testing with a tunneling service like ngrok is the best way to go.

[2022-09-11 07:02] #922 closed

[2022-09-11 07:02] Kyon147 commented on #919
Closing as this issue should be fixed now.

[2022-09-11 07:02] #919 closed

[2022-09-11 07:03] Kyon147 commented on #918
Closing stale issue.

[2022-09-11 07:03] #918 closed

[2022-09-11 07:04] Kyon147 commented on #893
Closing as a stale issue, $shopDomain is in the constructor for the later versions and this looks like it could be an older version of the package.

[2022-09-11 07:04] #893 closed

[2022-09-11 07:06] Kyon147 commented on #943
Closing stale issue, reopen if problem persists.

[2022-09-11 07:06] #943 closed

[2022-09-11 07:07] Kyon147 commented on #1013
Closing as duplicate Q have been provided.

[2022-09-11 07:07] #1013 closed

[2022-09-11 07:18] Kyon147 commented on #1029
Closing as issue is potentially resolved in another PR. Reopen if still and issue.

[2022-09-11 07:18] #1029 closed

[2022-09-11 07:18] Kyon147 commented on #1070
Released in `v17.2.0`

[2022-09-11 07:18] #1070 closed

[2022-09-11 07:19] Kyon147 commented on #1094
Released in `v17.2.0`

[2022-09-11 07:19] #1094 closed

[2022-09-11 07:23] Kyon147 commented on #1133
@hktudock - glad you got it working!

[2022-09-11 07:23] #1133 closed

[2022-09-11 07:24] Kyon147 commented on #980
Theme extension support has been added in `17.2.0` and the Shopify CLI can be used to scaffold it into the package quite easily.

[2022-09-11 07:24] #980 closed

[2022-09-11 07:24] Kyon147 commented on #987
Please see #1208 and closing in favor of this ticket.

[2022-09-11 07:24] #987 closed

[2022-09-11 10:37] Kyon147 commented on #1047
@ali-cartgeek I can't replicate this but can you update to 17.2 and try.

[2022-09-11 11:09] Kyon147 commented on #1166
@pengbo37877 @rajaneeshdwivedi - I've got t fix out for this now, so we should get it into the main branch soon enough.

[2022-09-12 03:50] devpammy opened #1212 "How to use shop table for authentication"
Hello @nahid

I have seen your pr for Shop table authentication.
But not able to understand how to use it.
Can you please send me the steps to use this pr.

Thank you

[2022-09-12 03:57] hungryforjs opened #1213 "Undefined array key "shop_auth_provider""
*For bug reporting only! If you're posting a feature request or discussion, please ignore.*

Ran:  `composer require osiset/laravel-shopify`
## Expected Behavior
Should be installed without any issues.

## Current Behavior
Fails with error:
[code]

[2022-09-12 14:52] hungryforjs commented on #1213
I haven't published any config yet. Just running the composer require results in this error.

[2022-09-12 15:05] Kyon147 commented on #1213
If you are upgrading, have you followed the steps in the [upgrading wiki? ](https://github.com/osiset/laravel-shopify/wiki/Upgrading)

it sounds to me that as you are upgrading and it is not a new install, you are just missing upgrade steps like the new additions to the configs.  v16 to v17 was a big upgrade too, so I really suggest you check out the upgrading wiki if you have not.

Does not sound

[2022-09-13 03:44] hungryforjs commented on #1213
I added the array key value pair as provided above. So I am sure either the error should change or it should work but I am still getting the same error.

[2022-09-13 03:58] hungryforjs commented on #1213
I had to add the `config:clear` before running this code.
We might have to add the `config:clear` command to be invoked because changes cannot be read by the config file.

[2022-09-13 06:16] simoni2cool commented on #536
Hello , I have facing issue in shopify authentication,,
My shopify app are unpublished because of issue in authentication,
The app login still working after uninstall app,
it only work in one refresh.. I mean when i uninstall app from shopify and refresh app web page only one time it page still shows login ,, after other refresh it work proper

[2022-09-13 10:40] Kyon147 commented on #1213
Glad you got it sorted.

[2022-09-13 10:40] #1213 closed

[2022-09-13 10:45] hungryforjs commented on #1213
Do we need a config clear command to be called programmatically inside `Util.php`. Might be helpful while upgrading the code.
I do not mind putting up a PR for this.

[2022-09-13 11:05] Kyon147 commented on #1213
Hi @hungryforjs

I don't believe so, it's common practice for devs to clear the config if you change it. Not just for this package but for Laravel configs in general.

[2022-09-13 11:07] hungryforjs commented on #1213
Everytime I ran the command:

[2022-09-13 11:25] Kyon147 commented on #1213
You should be updating using `composer update` and just changing the version in `composer.json` rather than `composer require osiset/laravel-shopify` if you already have the package installed.

You likely got the error because you tried to include the package again even though you already had it installed.

[2022-09-13 12:49] usmanpakistan commented on #1047
@ali-cartgeek this sems to be a code-igniter project.

[2022-09-13 13:23] Kyon147 commented on #1047
@usmanpakistan good spot actually, closing this out as it does we don't support codeigniter.

[2022-09-13 13:23] #1047 closed

[2022-09-13 14:55] Kyon147 commented on #957
Having a little look into this, we might need to do more work to the auth - as this only looks to see for a user that is currently logged in but the JWT tokens expire after two mins. So there would be a case, were we have a user but not a valid token and this would break.

Going to close this issue for now.

[2022-09-13 14:55] #957 closed

[2022-09-13 14:56] Kyon147 commented on #942
Closing this as it is an old ticket, reopen if you still have the issue on the latest version.

[2022-09-13 14:56] #942 closed

[2022-09-13 14:56] Kyon147 commented on #1166
Duplicate of #1044

[2022-09-13 14:56] #1166 closed

[2022-09-13 14:57] Kyon147 commented on #1044
Duplicate of #1002

[2022-09-13 14:57] #1044 closed

[2022-09-13 15:00] Kyon147 commented on #930
As this is not an issue and it is quite old, going to close it.

[2022-09-13 15:00] #930 closed

[2022-09-13 15:03] Kyon147 commented on #1110
This should be sorted now I believe in `v17.2.0` so closing for now.

[2022-09-13 15:03] #1110 closed

[2022-09-14 11:25] ItsGageH commented on #962
Could this be related to #1179?

[2022-09-19 15:52] Kyon147 commented on #1208
Thanks @varrwillis - updated my original post to include that PR too.

There's no direct response from Shopify, but I have just seen comments from other users who have set up using this package and trying to use it non-embed. They are being rejected likely because the auth flow and AppBridge is slightly different when not loading it within the shopify admin and as mention, it does not have support

[2022-09-21 08:32] yogeshausp opened #1216 "CSRF token mismatch error in POST call using Ajax"
Response give error 419 on post method call from ajax when I have uploaded csv file using ajax

## Expected Behavior

It will upload the CSV.

## Current Behavior

Error 419 csrf mismatch

### Context

Please provide any relevant information about your setup. This is important in case the issue is not reproducible except for under certain conditions.

* Package Version: Latest
* Laravel Version: 7

[2022-09-21 16:45] Kyon147 commented on #1216
The CSRF is not used anymore because of the session token that Appbridge uses to validate all request to Shopify. You can read here if you are missing the global flag https://github.com/osiset/laravel-shopify/wiki/Installation#csrf

[2022-09-21 16:45] #1216 closed

[2022-09-22 08:17] ausafsaqib opened #1218 "Osiset\ShopifyApp\Exceptions\MissingAuthUrlException"
![image](https://user-images.githubusercontent.com/83665759/191695031-e2304f80-b2ed-4b09-9f91-775265fe4afb.png)

[2022-09-22 08:18] ausafsaqib commented on #1218
can't resolved anyone can help regrading this?

[2022-09-22 12:48] clydesantiago commented on #1169
Hi, any update on this one?

[2022-09-23 06:30] usman735 commented on #1218
Make Sure api key and public key is correct.
clear cache and delete app form store and database entry and reinstall

[2022-09-27 09:24] faisalaltaf opened #1221 "17.2 In the package in which I am facing the problem 302 status, I send the request or delete the error value, this is a problem facing"
*For bug reporting only! If you're posting a feature request or discussion, please ignore.*

## Expected Behavior

Please describe the behavior you are expecting.

## Current Behavior

Please describe the current behavior?

## Failure Information

Please help provide information about the failure if this is a bug.

### Steps to Reproduce

Please provide detailed steps for reproducing the issue.

!

[2022-09-27 15:32] Kyon147 commented on #1221
Can you provide code of your routes etc, did you have the middleware on them?

[2022-09-27 15:33] Kyon147 commented on #1218
Closing as the solution has been provided.

[2022-10-01 07:22] DeveloperHashmi opened #1225 "App must set security headers to protect against clickjacking && App must verify the authenticity of the request from Shopify."
## Expected Behavior
App must be accepted by Shopify App Store. Please guide us that our app can submitted earliest. @osiset and @Kyon147

## Current Behavior
Getting error mail from Shopify App Store.

There was an error installing your app. The app must be installed to perform the security check. We expected OAuth to be initiated at https://app-security.myshopify.com/admin/oauth/authorize but we

[2022-10-01 08:12] Kyon147 commented on #1225
Hey @DeveloperHashmi

Clickjacking has been fixed if you update to `17.2.0`.

The other issue looks like the auth/token which runs before each request is being picked up on the OAUTH which is not allowed.

We may have to tweak this but I've not looked at the code for the token route, so @osiset will have more insight.

[2022-10-01 08:13] Kyon147 commented on #1221
@faisalaltaf can you provide more information please, code snippets etc as it is hard to debug with just that screenshot at the moment.

[2022-10-01 09:32] Kyon147 commented on #1225
@osiset - looking into this a bit more - I think blade might have to be killed off...

<img width="968" alt="image" src="https://user-images.githubusercontent.com/32519106/193402870-1240be8a-b688-4b4c-8e2b-2966becbfaa0.png">

Shopify are leaning towards SPAs - they do say Turbolinks can be used but I've never used it. The biggest problem at the moment is the /auth/token route can no longer happen

[2022-10-01 09:43] DeveloperHashmi commented on #1225
Hi @Kyon147,
Thanks for the reply, May I know the expected timeline for this fixed.

I'm already using 17.2.0 (SS attached for your reference).

FYI : I already followed the instruction from #1070 and #1176 for security headers to protect against clickjacking.

![image](https://user-images.githubusercontent.com/51310612/193403399-51a92e71-10a0-4544-a468-210ee221b419.png)

[2022-10-01 09:45] Kyon147 commented on #1225
@DeveloperHashmi - the fix is moving to an SPA app really and then we push out a new PR that bypasses the blade token requirement.

Are you using react or vue to scaffold your frontend?

[2022-10-01 09:47] DeveloperHashmi commented on #1225
I'm not using react or vue. I am using Laravel blade itself for view. @Kyon147

[2022-10-01 09:56] Kyon147 commented on #1225
I'll see what @osiset thinks but we might have to get the session token after hitting them home route (to avoid the oauth  redirect issue) but osiset has a deeper understanding of this package's auth and how possible this is.

With Shopify itself saying multi page apps are not supported unless you make it function like an SPA they are moving away from multipage apps.

[2022-10-03 07:19] ausafsaqib commented on #1218
@usman735 ,thank you for replying, I resolved this issue by using laragon , the issue is with ngork.

[2022-10-03 17:27] Kyon147 commented on #1225
@osiset - I personally don't use the Blade templates with this package. I use VueJS and have my own Polaris component library that I maintain.

So it might be worth leaning towards that has a requirement, more so with the "frontend_engine" feature we just implemented.

My latest app with the new version, is going into review soon - so if it passes review and ends on the store we have a real world

[2022-10-03 17:27] Kyon147 commented on #1225
Going to close this for now as it looks like blade templates don't fit at the moment with the apps overall.

[2022-10-03 17:27] #1225 closed

[2022-10-03 17:28] Kyon147 commented on #1221
Closing as stale now.

[2022-10-03 17:28] #1221 closed

[2022-10-04 18:13] Kyon147 commented on #1027
Closing as this ticket is old.

[2022-10-04 18:13] #1027 closed

[2022-10-04 18:13] Kyon147 commented on #1002
Fixed in `v17.3.1`

[2022-10-04 18:13] #1002 closed

[2022-10-04 18:14] Kyon147 commented on #892
This is a stale ticket now, so going to close but re-open if problem is still there.

[2022-10-04 18:14] #892 closed

[2022-10-05 15:43] #917 closed

[2022-10-07 19:41] unplugged216 commented on #120
Same here. This is not refreshing scopes automatically.

[2022-10-07 19:41] unplugged216 commented on #120
This seems to not be working. Anything special that needs to be done? I have added new scopes that require re-auth and no prompt is provided.

[2022-10-07 20:24] unplugged216 commented on #120
Did you ever find a solution?

[2022-10-07 20:36] unplugged216 commented on #124
So, this didnt work either. The app kept on chugging. not even a bump.

[2022-10-07 20:50] assasin71 commented on #120
yea about that i gave up on this library and switched to nodejs express js shopify-api .. which worked as expected
https://github.com/Shopify/shopify-api-node

if u prefer php u can use this
https://github.com/Shopify/shopify-api-php

im not exactly sure what the issue is with this library but i tried but was short on time and had to make a choice

regards

[2022-10-07 21:10] unplugged216 commented on #120
Thank you for getting back to me. Well what a shame. Ill check those out.

Thank you.

[2022-10-07 22:28] unplugged216 opened #1231 "rest api"
*For bug reporting only! If you're posting a feature request or discussion, please ignore.*

## Expected Behavior

When following the documented method for querying customer information in a shop, I am expecting to get a single result back.

`$req = $shop->api()->rest('GET','/admin/api/customers/search.json', ['query' => 'email:test@email.com'])['body'];`

## Current Behavior

When running the abo

[2022-10-08 15:32] unplugged216 commented on #1231
Well, after firmly planting my face into the keyboard, repeatedly, I determined the issue. An undocumented thingy....

In the Shopify dev docs and here in the wiki, it only assumes a customer search needs one query parameter. Well, thats false it appears. You must include 'limit' of 1.... I am working to confirm this but so far thats what it seems.

[2022-10-09 16:45] yasir-naseer opened #1232 "There was an error opening your app in the Shopify admin. Your embedded app is loading an invalid URL (17.2)"
Greetings, I recently submitted an app to shopify for which i used 17.2 version package, which has already added the clickjacking protection feature. but still shopify rejects the app. Here is the details of the app

App must set security headers to protect against clickjacking.
There was an error opening your app in the Shopify admin. Your embedded app is loading an invalid URL (https://stack-828

[2022-10-09 21:46] yasir-naseer commented on #1232
As a reference, i find other people having this issue as well

https://community.shopify.com/c/partners-discussion/app-submission-invalid-url-error/td-p/1747008

[2022-10-09 22:00] yasir-naseer commented on #1232
I think the problem is with the Shopify Admin (or browser?) cancelling the first request to fetch our app, and then firing a second request. It seems the automated test only waits for the response of the first request, and assumes the app does not load. (see attached image)

<img width="499" alt="app_complain" src="https://user-images.githubusercontent.com/58694913/194781432-57b38b9e-ffde-4af2-8bc

[2022-10-10 13:08] yasminekamal opened #1233 "shopify appuinstalljob problem"
* this is the error in log file in laravel project when i am trying to unistall  shopify app
* Argument 1 passed to Osiset\ShopifyApp\Messaging\Jobs\AppUninstalledJob::__construct() must be an instance of Osiset\ShopifyApp\Contracts\Objects\Values\ShopDomain, string given,

* "php": "^7.2.5"
* "laravel/framework": "^7.0"
* "osiset/laravel-shopify": "^11.5"

any solution for this problem?

[2022-10-10 16:56] Kyon147 commented on #1232
Hi @yasir-naseer

Are you building your app using the blade templates?

[2022-10-10 20:26] yasir-naseer commented on #1232
hi @Kyon147 , yes im using default blade templates file. just normal flow and package files, no usage of React or Vue or any framework

[2022-10-10 20:30] Kyon147 commented on #1232
That is most likely the cause.

We've been seeing rejections of apps that using the blade flow because it uses the auth/token in between moving across each page and this it against Shopify requirements on Oauth.

They expect the first page after successful Oauth to be the dashboard/homepage of the app and anything else causing it to be rejected. When using blade templates, the next page becomes Au

[2022-10-10 20:35] yasir-naseer commented on #1232
@Kyon147 ,yes I understand, I actually saw other people also mentioning such issues, do you think there is some way we can handle this case? as I already completed the app and waiting for this issue to be fixed so I can resubmit. Thanks for the help again!

[2022-10-10 20:40] Kyon147 commented on #1232
There's not a clear path forward with the blade flow as you need the auth/token route to be able to get the JWT token.

You could try TurboLinks as that does 'fake' an SPA but it might be not be a solution to pass the approval if this still triggers Auth/token on install.

[2022-10-10 20:42] yasir-naseer commented on #1232
hmm i see, seems like a big problem, normally i can try out different things, but as now my client is eagerly waiting for me to fix it and resubmit, this is going be an issue

[2022-10-11 07:26] Kyon147 commented on #1232
@yasir-naseer sadly it is a known limitation which Shopify has also pointed out https://shopify.dev/apps/auth/oauth/session-tokens#limitations-and-considerations

[2022-10-11 07:27] Kyon147 commented on #1232
Going to close this ticket out for now as it is a known problem.

[2022-10-11 07:27] #1232 closed

[2022-10-11 07:29] Kyon147 commented on #1231
Glad you found the solution @unplugged216 - I'm going to close this ticket now.

[2022-10-11 07:30] yasir-naseer commented on #1232
Hi @Kyon147 , yes i was reading it few time ago, so i think the possible way is to convert it to SPA. Which ultimately means i have to rebuild it/convert my multi page app to SPA. Can you confirm? Or is there a better way?

[2022-10-11 07:33] Kyon147 commented on #1232
The best solution at the moment would be to convert your app to be an SPA, either by moving to React or Vue or trying turbolinks.

With 17.3 we also introduce a new config option called `frontend_engine` if you set this to `REACT` it will no longer use the `auth/token` route as it will expect you to grab the JWT yourself.

I've recently built an app that uses this flow, with a VueJS frontend. You

[2022-10-11 18:44] yasir-naseer commented on #1232
@Kyon147 , i actually re-submitted the app without really making any changes, this time they do give the same rejection, but this time the url mentioned by them is not auth/token

<img width="178" alt="Capture" src="https://user-images.githubusercontent.com/58694913/195173741-1b41df65-b1fa-4ede-872f-9c9757a5446d.PNG">

So i dont think the issue is because of auth/token

[2022-10-11 18:51] Kyon147 commented on #1232
@yasir-naseer you'll need to speak with Shopify on the steps forward as they'll be able to tell you what exactly you need to fix and why that URL is invalid.

[2022-10-11 18:55] yasir-naseer commented on #1232
yeah i actually tried it, but the rejection is coming from the automated review, no the manual review by shopify team, in automated review, they dont dont option to communicate with the team neither the in depth reason and details

[2022-10-11 18:58] Kyon147 commented on #1232
If you look at the error, it looks like the security headers aren't be set on that route.

I'd start there and see why.

[2022-10-11 19:03] yasir-naseer commented on #1232
Actually, i inspected the whole installation process, the first request to our app is getting failed (on this request the headers are also not present), then the request is made again and this time the app actually returns a success response (this request has the headers we need)

So maybe it is due to the reason that it is failing the first request

[2022-10-11 19:05] yasir-naseer commented on #1232
Just as a reference, i saw other people also getting the first app request failed while the second one returning a app response

https://community.shopify.com/c/partners-discussion/app-submission-invalid-url-error/td-p/1747008

[2022-10-12 07:37] Kyon147 commented on #1232
Hey @yasir-naseer

I took another look at this today, I think it happens to all apps. I've looked at other published apps on the app store and even they have the first request cancelled.

![image](https://user-images.githubusercontent.com/32519106/195279741-00e45faf-5ed0-485d-807a-f85d99b47f03.png)

I've also go an open ticket with Shopify about it as well, so they said they have passed it onto th

[2022-10-12 07:37] Kyon147 commented on #1232
Also, discord link is in here https://github.com/osiset/laravel-shopify/discussions/1228

[2022-10-12 17:18] unplugged216 commented on #1231
Hey there!

Here is an example, demonstrating what did not work and what worked for me.

**What did not work**
`$shop->api()->rest('GET','/admin/api/2022-10/products.json', [ 'product_type' => 'Demo Type'])['body'];`

**This seemed to fix my issue**
`$shop->api()->rest('GET','/admin/api/2022-10/products.json', ['limit' => '250', 'product_type' => 'Demo Type'])['body'];`

Please not I am also using

[2022-10-12 17:20] unplugged216 commented on #1231
@Kyon147 ,

I would recommend not closing this as my solution may only work for me. This is a documentation issue in this package. The package provides a wiki demonstration that does not work.... Closing an issue without resolve is unsettling for the project I feel.

[2022-10-12 17:23] unplugged216 opened #1234 "Scope Re-approval"
*For bug reporting only! If you're posting a feature request or discussion, please ignore.*

## Expected Behavior

Expected behavior is outlined in two separate issues:

[Issue #120](https://github.com/osiset/laravel-shopify/issues/120)
[Issue #124](https://github.com/osiset/laravel-shopify/issues/1204)

## Current Behavior

Does not re-approve new scopes. New scopes are not checked. Must manually

[2022-10-13 08:05] Kyon147 commented on #1231
Hi @unplugged216

Happy to reopen, that's my misunderstanding reading it as a API issue rather than a package one. I tried a direct api call, and don't see any issues - so there could be a bug in the shopify-basic-api package but would need some more investigation.

[2022-10-13 09:00] Kyon147 commented on #1233
@yasminekamal - your PHP, laravel and laravel-shopify package are too old. Can you try using the newer versions. We are not on `v17.3.x` so you are 6 major versions behind.

[2022-10-14 03:44] mingppl opened #1239 "Missing host parameter on getConfig(api_key) call"
## Expected Behavior

On Http/Middleware/AuthToken.php line 93, the getConfig('api_key') should receive the shop domain parameter so config_api_callback function can support api_key / api_secret pairs for custom apps.

* Package Version: v15.1.1

[2022-10-15 20:11] Kyon147 commented on #1239
Hi @mingppl - you need to update your package version to the latest which is `v17.3.1`

[2022-10-15 20:11] #1239 closed

[2022-10-19 08:02] Kyon147 commented on #1225
Just updating here, i've had an app pass the security review using v17.3.1 but importantly, it passed because it was using VueJs as the frontend and did not use the auth/token route.

cc @osiset

[2022-10-20 00:30] apurbajnu commented on #1234
Same here.

[2022-10-20 22:43] jhaineymilevis commented on #1118
hi! can you share and example of how you implement it with react?

[2022-10-20 22:44] jhaineymilevis commented on #987
hi! can you share and example of how you implement it with vue?

[2022-10-20 22:44] jhaineymilevis commented on #987
@roguestack

hi! can you share and example of how you implement it with react?

[2022-10-22 03:45] Pramod-HulkApps opened #1241 "ORDER_TRANSACTIONS_CREATE Webhook not register on shopify"
Hello guys,

Webhook is not registered on Shopify with the production URL. can anyone please tell me what I am doing wrong?
`'webhooks' => [
        [
            'topic' => 'ORDER_TRANSACTIONS_CREATE',
            'address' => env('APP_URL').'/webhook/orders-transactions-create'
            //'address' => 'https://c7db-49-36-49-213.ngrok.io/webhook/orders-transactions-create'
        ]
    ],`

[2022-10-22 07:05] Kyon147 commented on #1241
Have you tried setting the fallback on the `env()` to your prod url to see if that works?

[2022-10-22 12:27] Pramod-HulkApps commented on #1241
Yes I did it.
Now I register Webhook using webhook Installer by manually calling it. and its resolved but when I tried using the app install it didn't work.

[2022-10-23 02:47] Pramod-HulkApps commented on #1241
Closing the issue. as it fixed using webhook installer

[2022-10-23 02:47] #1241 closed

[2022-10-23 03:03] Pramod-HulkApps opened #1242 "No authenticated user or shop domain error on command call"
Hello @Kyon147
Thank you for your support.
I am facing the below exception when cron calls the kernel.php to call the scheduled commands.

In that command, I call the custom job to perform GraphQL bulk operation to get customers from Shopify.
some times it is working but sometimes it throws an error like below.
if you have any idea when and where it occurred please let me know.

thanks

`No authen

[2022-10-23 11:36] Kyon147 commented on #1242
Hi @pramodw31

Are you able to show the `custom job to perform GraphQL bulk operation to get customers from Shopify.` That error happens when you pass through the the auth route but usually when there is no shop param.

[2022-10-24 08:26] shaikhabdulqadir commented on #1169
hello, is there anyone working on discount feature?

[2022-10-24 10:55] jhaineymilevis commented on #1050
@hamzasgd  can you show me an example of how can i integrate this with react?

[2022-10-24 12:15] jhaineymilevis commented on #1050
Hi, i want to use this ossiset shopify-Laravel with react
El El lun, 24 de oct. de 2022 a la(s) 6:37 a.m., Muhammad Hamza Masood <
***@***.***> escribió:

--
Jhainey.-

[2022-10-25 06:11] ingalesachin7 opened #1243 "How to update webhook URL's for old stores?"
Hello, I have switched from ruby to Laravel for the app already running and also changed the app URL, so already registered webhook how do we update with new url for all installed stores?

[2022-10-26 21:42] unplugged216 opened #1245 "Alpine.js/Livewire and Power-Grid Authentication redirect hangup"
*For bug reporting only! If you're posting a feature request or discussion, please ignore.*

## Expected Behavior

When making a a request via Livewire, after adding the auth header, we expect the requested resource to load.

## Current Behavior

When queries are fired, the appropriate header is added. However, the middleware "verify.shopify" is forcing a redirect through responding with HTML and

[2022-10-26 22:05] unplugged216 commented on #1245
I believe I solved my own problem.... Yay! I added the following to `token_handler.blade.php`

[code]

Since this package doesn't recognize Liveware, which is identified in the request, we need to add a little finesse to it. This should work for anyone using livewire combined with this package.

[2022-10-27 03:58] s-laurel opened #1246 "MissingAuthUrlException (Missing auth url)"
## Expected Behavior

Page gets redirected correctly to a welcom page  after clicking the "install app" button
i.e.
![image](https://user-images.githubusercontent.com/58715311/198186303-f18d585c-85e8-46de-92f5-858bd65c8cf5.png)

## Current Behavior

Getting a MissingAuthUrlException after clicking the install app button

After clicking the install app button
![image](https://user-images.githubuser

[2022-10-28 10:48] filipembcruz opened #1248 "The app not works on https://admin.shopify.com"
## Expected Behavior
That the app works on the new shopify admin route. https://admin.shopify.com/store/store-name/apps/plugin-url

## Current Behavior
The app not works. My app doesn't not approved because this "issue". It Shows the message:

app is outdated
Shopify admin has migrated to a new URL, and this app is still pointing to the old URL. To use this app, relaunch it on the old URL.

![imag

[2022-10-29 18:03] markovic-nikola commented on #1234
+1

[2022-10-31 15:30] mailtester322 opened #1249 "Auth:user->name and utils Issues while Upgrading v12.x to v17.x"
Hello,

I have upgraded the 12.0  to 17.3.1 version and all steps follow from here: https://github.com/osiset/laravel-shopify/wiki/Upgrading

After all, things are done when I reload the store page I got the below error:

![image](https://user-images.githubusercontent.com/105477198/199045329-ba17bd6a-f8f7-4b1f-9a62-fb4a90f7cbe3.png)

and
Uncaught ReferenceError: utils is not defined
![image](https

[2022-10-31 17:58] polibou commented on #1249
It could be a number of things with that big of an upgrade.

Recently I upgraded from v11 and one the big adjustments I needed to make is that API responses do not return as objects anymore (ie: $response->body) but as arrays (ie: $response["body"]["container"]).  From your error message I am thinking it might be that.

[2022-10-31 22:30] talktohenryj opened #1250 ""Shopify App Outdated" but running latest app bridge, osiset, etc"
*For bug reporting only! If you're posting a feature request or discussion, please ignore.*

## Expected Behavior

When going to the app it should go directly to the home page.

## Current Behavior

When going into the app, I receive this message.

![Frame 58](https://user-images.githubusercontent.com/88204834/199120422-6eae3509-8fa6-41f0-aa6f-a08bb96a896f.png)

## Failure Information

This happen

[2022-11-01 00:50] jhaineymilevis commented on #1250
same problem

[2022-11-01 00:50] jhaineymilevis commented on #1248
same problem, did you found any solution?

[2022-11-01 03:43] talktohenryj commented on #1250
I messaged Shopify as well so hopefully we'll get an answer soon.

[2022-11-01 11:53] #1245 closed

[2022-11-01 13:35] nikwen commented on #1250
https://github.com/osiset/laravel-shopify/issues/1248 might be related.

[2022-11-01 14:52] jhaineymilevis commented on #1248
@nikwen no solutions in any post

[2022-11-01 15:37] talktohenryj commented on #1248
Yea, I thought this would be a fix for the new URLs but its not for some reason.

[code]

[2022-11-01 17:31] apurbajnu commented on #1248
This line of code works for me now. I have tried.

`   $shop = Auth::user()->name;
        return response()
        ->view('welcome')
        ->header( 'Content-Security-Policy',
            "frame-ancestors https://$shop https://admin.shopify.com");`

[2022-11-01 23:09] talktohenryj commented on #1248
Thanks for this. I'm going to try this tomorrow.

Do you have a multi page app or single page?

[2022-11-01 23:33] jhaineymilevis commented on #1248
hi @talktohenryj where do you put this code? i used it on default route but dont work

[2022-11-02 00:15] jhaineymilevis commented on #1250
@talktohenryj  have you fixed it?

[2022-11-02 00:21] talktohenryj commented on #1248
No, I didn't @apurbajnu said he figured it out. I'm going to try his code tomorrow.

[2022-11-02 02:50] apurbajnu commented on #1248
@jhaineymilevis, you need to use this with a default route. This one is working on my side. [Image](https://i.ibb.co/jw6SFpm/Screenshot-2022-11-02-at-8-45-05-AM.png)

[2022-11-02 10:03] CedricVleminckx commented on #1248
The latest version of the package provides the Content security policy header on all routes, but this is not giving us this issue. Shopify says it is an issue with the app bridge configuration and the host parameter.

We also opened multiple support tickets to request a dev store on the new admin.shopify.com domain, but they say they can not help us. So there is no way for us to test this :(

This

[2022-11-02 10:19] CedricVleminckx commented on #1250
Same problem in a Single page application.

Shopify says our host parameter is configured wrong in app bridge.

We also opened multiple support tickets to request a dev store on the new admin.shopify.com domain, but they say they can not help us. So there is no way for us to test this :(

This was the latest response from Shopify:
when we tried to open that last request to your /authenticate/token

[2022-11-02 14:04] jhaineymilevis commented on #1248
yes i did it, but dont work
![image](https://user-images.githubusercontent.com/8782191/199509977-5e706766-800a-4d17-96d7-df23ea6a2dbb.png)

[2022-11-02 14:37] CedricVleminckx commented on #1248
@jhaineymilevis I tested this issue with a fresh laravel + osiset installation.

When you change the shopOrigin value to the new admin domain ex: admin.shopify.com/store/my-store in the AppBridge config in the vendor/osiset/laravel-shopify/src/resources/views/layouts/default.blade.php file, you will not get the error when the app was already authenticated.

This does not work when installing or re

[2022-11-03 14:26] ShirasuGyoza commented on #1248
Hi, I have same problem and I also see the discord of LaravelShopify, and Vicky pointed a solution maybe?
https://discord.com/channels/1027205492155617304/1027205493338427464/1034919275967819957

Could any maintainer take a look at this? :cry:

[2022-11-03 15:49] cvikenzi commented on #1250
Hi @CedricVleminckx and @tinhphantrong0612,
i think the best solution is to remove "shopOrigin" param from app brigde contructor (as @tinhphantrong0612 wrote before). Then, i add "host" param to all app route redirects and i add "host" to billing api return_url. I have working solution without "shopOrigin" on my side now, but i do not know how to test it. I am not skilled in git, so i am sending y

[2022-11-07 07:21] kmajay978 commented on #1022
Have you solved it ? @EvaDenys99

[2022-11-07 12:38] abimwaqas commented on #1248
Yeah my Apps are working fine. Just do not remove shopOrigin from App Bridge initialization

[2022-11-08 06:05] apurbajnu commented on #1248
Thanks a lot. Finally it worked for me after adding shopOrigin.

[2022-11-08 06:43] Sky-bits commented on #166
@joneyspark

how to do with nginx and express js framework ?

[2022-11-09 06:41] kmrifat commented on #1246
I am facing the same issue

[2022-11-09 15:25] talktohenryj commented on #1248
Me too. I cannot get into that discord.

Sent via Superhuman iOS ( ***@***.*** )

On Wed, Nov 9 2022 at 6:23 AM, Akane Nakayama < ***@***.*** > wrote:

[2022-11-09 20:47] jhaineymilevis commented on #1250
@cvikenzi you saved my life!!!!!  the changes on VerifyShopify.php was the solutions, i was passing host param but it was empty on the first load. Adding your changes worked!!! thanks!!!!!!

[2022-11-09 20:57] cvikenzi commented on #1250
@jhaineymilevis you are welcome :)

[2022-11-09 23:07] jhaineymilevis commented on #1250
i have madre a pull request with fixes

#1260 #

[2022-11-10 11:14] Kyon147 commented on #1250
I also have a fix in the works for the billing controller at the moment https://github.com/osiset/laravel-shopify/pull/1244

I'll take a look at the #1260 but it does not look like the tests have been updated to see if the host param exists @jhaineymilevis

[2022-11-10 12:33] bugfixman commented on #1250
You can do it.

Add this string to VerifyShopify middleware to the handle method.

[code]

It needs to replace this string `host: "{{ \Request::get('host') }}"` to  `host: "{{ \session('host') }}"` in default osiset layout.

The host param will be available anywhere. And the app bridge won't be crashed.

[2022-11-10 13:02] bugfixman commented on #1250
I am created a pull request with my changes are described above #1261

[2022-11-10 14:04] jhaineymilevis commented on #1250
@bugfixman i have tested your aproach and it works, but, problem with multi store opened in the same browser, the session host dont override when i change to another store

[2022-11-10 14:07] Kyon147 commented on #1250
#1261 has been closed because it is a duplicate, please add any suggestions to #1260

[2022-11-10 14:15] jhaineymilevis commented on #1250
@cvikenzi problems with installation now :( after this changes , it redirect for https://dropify.dropi.co/login and ask for shopDomain

[2022-11-10 14:30] cvikenzi commented on #1250
Hello @jhaineymilevis,
can you please send screen recording here, where you simulate your problem?
Thanks.

[2022-11-10 14:33] jhaineymilevis commented on #1250
@cvikenzi forgot it, was my error, thanks

[2022-11-10 15:01] Kyon147 commented on #1250
@osiset this looks like the issue we were chatting about were Shopify for non-spa is getting harder and harder to work with.

Would be interested to see your thoughts on a path moving forward.

[2022-11-10 16:47] osiset commented on #1250
Given recent issues surrounding this (at work), my decision is to kill off
Blade and default to React with continued support of the frotjend flag so
people can implement (or merge in) Vue/other framework supports.

I can't see it lasting without SPA sadly anymore - there's no true freedom
to develop.

On Thu, Nov 10, 2022, 11:31 Luke Walsh ***@***.***> wrote:

[2022-11-10 17:36] yasir-naseer commented on #1250
is there any solution which can work for non SPA app as well?

[2022-11-10 17:42] Kyon147 commented on #1250
There's no straightforward answer @yasir-naseer as there are issues with non-spa and approval as well. Shopify don't allow any app to make requests after OAUTH other than to the homepage of the app.

So currently blade templates need to `auth.token` route that happens between requests to get the JWT token to work. This is currently being rejected for new apps now - so the push by Shopify to be SPA

[2022-11-11 07:23] apurbajnu commented on #1248
Firstly I use react. So I added `SHOPIFY_FRONTEND_ENGINE=REACT`. Token router is not needed and config should look like this  `const config = { apiKey, host, shopOrigin:shopOrigin, forceRedirect: true };`

[2022-11-13 13:13] AryanKumar commented on #594
If you are using larave 8 and want to handle the exception "MissingShopDomainException" then you can handle this exception using handler.php in laravel.

Go to app->Exceptions->Handler and write below code:

use Osiset\ShopifyApp\Exceptions\MissingShopDomainException;
use Illuminate\Support\Facades\Redirect;

and inside function register write:
	$this->renderable(function(MissingShopDomainExceptio

[2022-11-14 10:24] tbiinfotech commented on #669
After implementing all above mentioned feedback. I am still getting same error.

[2022-11-14 13:52] WajahatAnwar commented on #1250
@Kyon147 Can you update the package with @cvikenzi code? This problem can be resolved permanently?

[2022-11-14 15:44] WajahatAnwar commented on #1250
<img width="1182" alt="Screenshot 2022-11-14 at 8 42 20 PM" src="https://user-images.githubusercontent.com/18661312/201702877-025c37be-735c-4785-8d50-d1f59e22d426.png">

@cvikenzi Can you please check after implementing your instruction am getting this error.

[2022-11-14 15:46] Kyon147 commented on #1250
@WajahatAnwar the issue is not as simple as merging a PR, as there are issues around using blade templates now as Shopify pushes towards SPA apps.

We need to see what the best next step is for the package overall with the blade templates.

[2022-11-14 23:15] CetoBasilius opened #1262 "Approving recurring billing throws SignatureVerificationException using BLADE frontend_engine config"
## Expected Behavior

User approves recurring billing charge and should be redirected to home route

## Current Behavior

I approve recurring billing charge, error page is presented with message "Unable to verify signature." If i navigate to the homepage/onboarding/settings of the app AFTER the error, everything continues working, just the billing approve redirect fails

## Failure Information

Ev

[2022-11-15 03:34] CetoBasilius commented on #1262
@Kyon147 Seems removing the `host` and `billing` from src/Traits/BillingController.php in your last commit [695f968859be1bf041c5b1df8d67640502e5ce1a](https://github.com/osiset/laravel-shopify/commit/695f968859be1bf041c5b1df8d67640502e5ce1a#) Fixes this, why were these put in?

[2022-11-15 04:39] CetoBasilius commented on #1262
@Kyon147 Saw that your changes are important and relevant for the new flag `frontend_engine` so i used the `Util::useNativeAppBridge()` function to determine if `host` and `billing` params are sent.

Separated the test case in 2 different scenarios

Don't know if this is the optimal solution but it works for both cases. @osiset what would be your comments?

[2022-11-15 04:56] CetoBasilius commented on #1262
Just saw the discussion at #1250 so this might not be added after all from what i see

[2022-11-15 08:15] Kyon147 commented on #1262
Hi @CetoBasilius

Thanks for the detailed bug report.

I have seen Shopify uses the url that you enter in your app partner config as the url to target for auth etc, can you confirm you have added `https` and not `http`.

I can't see any reason why adding the host param on the billing route would break the BLADE route, as the existing param is still there `shop` and one was just an addition.

The p

[2022-11-15 08:20] Kyon147 commented on #1249
`utils` is the AppBridge Utils package, that has the ` getSessionToken()`. If you are using a custom base blade template, you might need to chreck to make sure you have added in the additional changes from [default.blade](https://github.com/osiset/laravel-shopify/blob/master/src/resources/views/layouts/default.blade.php)

[2022-11-15 08:25] Kyon147 commented on #1243
@ingalesachin7 if you have stores on another package that you are migrating, you may have to run a custom script that updates the existing stores webhook, to the new one.

Webhooks do run at `authenticate` but the store has to access the app for that to happen.

[2022-11-15 08:26] Kyon147 commented on #1243
Going to close this as it is not an issue but feel free to reply or open up a discussion.

[2022-11-15 08:26] #1243 closed

[2022-11-15 08:28] Kyon147 commented on #1233
Closing as issue is stale, reopen if you need to.

[2022-11-15 08:28] #1233 closed

[2022-11-15 08:36] Kyon147 commented on #1262
I do remember someone else mentioning this last week with a potential fix, I just can't find the comment.

Will do a little digging to see if that fix worked for them.

[2022-11-15 09:16] d-shannon commented on #1262
If anyone needs a quick hacky fix, I am catching the exception in Handler.php and redirecting to home route.

[2022-11-15 12:41] ingalesachin7 opened #1264 "upgrading and downgrading plan got issue first time.."
While upgrading and downgrading plan got an issue the first time.. then work after 2nd try..

Please check the screenshot.. anyone knows what type of error is?
![a489728d-8b70-474a-9186-7eab2d920a36](https://user-images.githubusercontent.com/5120513/201921984-e229f244-7a89-4494-940b-fc39c5d9c827.png)

[2022-11-15 14:39] CetoBasilius commented on #1262
Hi @Kyon147, i can confirm it's https and that was not the problem, using valet + ngrok. Debugged yesterday, the hmac calculation breaks when it receives the `host` and `billing` params when billing redirects to home.

I added a small detection on the BillingController trait so that it checks if the frontend_engine flag is set to REACT, if so, it does add the params. I added another test case modi

[2022-11-15 17:53] benson336 commented on #1167
@tanseercena Is this the correct way of setting up the app extension path (image below)? I created a new "app_extension" directory under "app" directory and ran "npm install" in the root. But when I ran "npm run shopify", the terminal is giving me the error "SyntaxError: Cannot use import statement outside a module". Not sure what I did wrong.
![Screen Shot 2022-11-15 at 9 33 39 AM](https://user-i

[2022-11-15 22:32] benson336 opened #1265 "App Extension Set up Issue"
I am currently setting up App Extension by following this [guide](https://github.com/osiset/laravel-shopify/wiki/How-to-create-App-Extension) by @tanseercena but ran into an issue . As shown below, is this the correct way of setting up the app extension path? I created a new "app_extension" directory and ran `npm install` in "app_extension" root. But when I ran `npm run shopify`, the terminal is g

[2022-11-16 07:32] developertester786 commented on #1248
`$shop = Auth::user()->name; return response() ->view('welcome') ->header( 'Content-Security-Policy', "frame-ancestors https://$shop https://admin.shopify.com");`

I am facing the similar issue in laravel app. I tried to use this with a default route as @apurbajnu mentioned in `routes/web.php` file . But I am still getting `This app is outdated and will no longer function after Wednesday, Septembe

[2022-11-16 07:56] developertester786 commented on #1250
@cvikenzi You saved me man.. You are genius.
Many Many Thanks!

[2022-11-16 13:38] abimwaqas commented on #1248
@developertester786  frame-ancestors is for clickjacking. It has nothing to do with outdated app. Check shopify documentation for host parameter which shopify implemented. You need to pass host parameter with app-bridge initialization. In short remove shopOrigin from default.blade.php inside vendor folder. It might work.

[2022-11-19 06:21] deepahir commented on #1248
I use react for front-end can this is work for me?

[2022-11-19 11:30] deepahir commented on #1250
Same issue @talktohenryj Can your app issue solved. If solved how can you test your app second time.

[2022-11-21 16:06] #1262 closed

[2022-11-24 04:34] sahilcrawlapps commented on #63
Have you solved it Me also getting same issue ?

[2022-11-24 06:26] tobidalhof commented on #63
Not using this package anymore

[2022-11-24 06:41] sahilcrawlapps commented on #63
Then what do you use ? Can you suggest me something better the this package.
And you may have solved this issue can you please tell me how you did that ?

[2022-11-25 04:57] sahilcrawlapps commented on #63
Hey Kushal , Can you please tell me how did you solved.

[2022-11-25 05:40] ramkishansuthar commented on #1246
Hey @s-laurel

Any success on this, I am also facing this issue.

[2022-11-25 05:56] ramkishansuthar commented on #1246
Hey Everyone,

For me the issue resolved when I tried to install the app in different store after changing the APP_URL in .env file. APP_URL should be the ngrok url.

Thanks

[2022-11-28 01:13] nonghinh commented on #1262
Same issue

[2022-11-28 07:26] lramhudda commented on #1250
It is working fine

Very very thank you
Really nice work
We are very happy
God Bless You

[2022-11-28 07:27] lramhudda commented on #1250
Please run this command -   php artisan optimize

Your error will fix.............

[2022-11-29 14:50] Kyon147 commented on #1264
Are you using blade templates?

[2022-11-29 21:53] kurakin-oleksandr commented on #1248
@filipembcruz with your fix, after `/api/authenticate/token`, I'm redirected to `/admin/admin/apps/API_KEY/api/authenticate/token`. Which is not correct. Any help is appreciated